body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

#game-container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

#word {
    font-size: 24px;
    margin-bottom: 20px;
}

#guesses {
    font-size: 18px;
    margin-bottom: 10px;
}

#lives {
    font-size: 18px;
}
